<html>

<head>

  <title>Posts</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <table class="show_all_posts">

    <h1>See posts from all users!</h1>

    <thead scope="row">
      <tr>
        <td class="column_1">Username</td>
        <td class="column_1">Title:</td>
        <td class="column_2">Message:</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% for(let i= 0; i< posts.length; i++) { %>
        <td class="column_3">
          <%= posts[i].username %>
        </td>
        <td class="column_3">
          <%= posts[i].title %>
        </td>
        <td class="column_4">
          <%= posts[i].body %>
        </td>
        <td class="column_3">
          <a href="/post/<%= posts[i].id %>">See comments</a>
        </td>
        <td class="column_3">
          <a href="/comment/<%= posts[i].id %>">Leave comments</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <br>

  <h6>Want to switch account?</h6>
  <h6><a href="/" target="_blank">Switch Account</a></h6>
  <h6><a href="/logout" target="_blank">Logout</a></h6>

</body>

</html>
