<html>

<head>

  <title>Specific Post For Any User</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>See all comments on this message</h1>

  <table class="show_all_posts">

    <thead scope="row">
      <tr>
        <td class="column_1">Username:</td>
        <td class="column_1">Title:</td>
        <td class="column_2">Message:</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="column_3">
          <%= post.username %>
        </td>
        <td class="column_3">
          <%= post.title %>
        </td>
        <td class="column_3">
          <%= post.body %>
        </td>
      </tr>
    </tbody>

    <thead scope="row">
      <tr>
        <td class="column_2">Comments:</td>
        <td>
      </tr>
      <tr>
        <% for(let i= 0; i< comments.length; i++) { %>
        <td>
          <%= comments[i].body %>
        </td>
      </tr>
      <% } %>
    </thead>

  </table>

  <br><h6><a href="/logout" target="_blank">Logout</a></h6>

</body>

</html>
