<html>

<head>

  <title>Your Posts</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>View all your posts here <%=user.username%></h1>

  <table class="show_all_posts">

    <thead scope="row">
      <tr>
        <td class="column_1">Username</td>
        <td class="column_1">Title:</td>
        <td class="column_2">Message:</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% for (let i= 0; i< posts.length; i++) { %>
        <td class="column_3">
          <%= posts[i].username %>
        </td>
        <td class="column_3">
          <%= posts[i].title %>
        </td>
        <td class="column_4">
          <%= posts[i].body %>
        </td>
        <td class="column_3">
          <a href="/comment/<%= posts[i].id %>">Leave comments</a>
        </td>
        <td class="column_3">
          <a href="/post/<%= posts[i].id %>">See comments</a>
        </td>
        <td class="column_3">
          <a href="/delete/<%= posts[i].id %>">Delete post</a><br>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>
  <br>

  <h6>Don't have an account yet?</h6>
  <h6><a href="/signup" target="_blank">Signup</a></h6>
  <h6><a href="/logout" target="_blank">Logout</a></h6>

</body>

</html>
