<html>

<head>

  <title>Your Specific Post</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="src/style.css">

</head>

<body>

  <%- include partials/navbar.ejs %>

  <table class="your_specific_post">

    <thead scope="row">
      <tr>
        <td class="column_1">Username:</td>
        <td class="column_1">Title:</td>
        <td class="column_2">Message:</td>
      </tr>
    </thead>

    <tbody>
      <tr>
      <% for (let i= 0; i< yourposts.length; i++) { %>
        <td class="column_3">
          <%= yourposts[i].username %>
        </td>
        <td class="column_3">
          <%= yourposts[i].title %>
        </td>
        <td class="column_4">
          <%= yourposts[i].body %>
        </td>
        <td class="column_3">
          <a href="/comment/<%= posts[i].id %>">Leave comments</a>
        </td>
        <td class="column_3">
          <a href="/post/<%= posts[i].id %>">See comments</a>
        </td>
        <td class="column_3">
          <a href="/delete/<%= posts[i].id %>">Delete post</a><br>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>

  <h6>Don't have an account yet?</h6>
  <h6><a href="/signup" target="_blank">Signup</a></h6>
  <h6><a href="/logout" target="_blank">Logout</a></h6>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
